{
	"parser": "babel-eslint",
	"extends": [
		"standard",
		"standard-react"
	],
	"plugins": [
		"babel",
		"react",
		"promise"
	],
	"env": {
		"browser": true,
		"node": true,
		"mocha": true
	},
	"globals": {
		"__DEV__": false,
		"__TEST__": false,
		"__PROD__": false,
		"__COVERAGE__": false,
		"$": true
	},
	"rules": {
		"indent": [2, "tab", { "SwitchCase": 1 }],
		"key-spacing": 0,
		"no-tabs": 0,
		"max-len": [2, 120, 2],
		//"object-curly-spacing": [2, "always"],
		"semi": [2, "always"],
		"space-before-function-paren": 0,
		"jsx-quotes": ["error", "prefer-double"],
		"react/jsx-indent-props": 0,
		"react/jsx-indent": 0
	}
}
